<div id="main-content">
    <table id="master-list" class="table table-striped">
        <thead>
          <tr>
            <th>Edit</th>
            <th>Cost unit (yen)</th>
            <th>Last updated</th>
            <th>Created</th>
          </tr>
        </thead>
    </table>
</div>