@import "compass/utilities";
@import "compass/css3";
@import "../common";

$border-color: #bbc0bb;

h1 {
    padding: 0 10px;
    font-size: 24px;

    small {
        @include inline-block();
        padding: 0 10px;
        font-size: 12px;
    }
}

#main {
    margin: 55px 0;
}

/** LOGIN CONTAINER **/
#login-container {
    width: 400px;
    margin: 0 auto;
    padding: 50px 0;

    .err-msg {
        margin: 10px auto;
    }
}

.search-container {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 100px;
    margin-left: -300px;
    background: #f1f1f1;
    z-index: 1;

    &.open {
        margin-left: 0;
        transition: margin-left 1s linear 0;
    }
}
.control-container {
    margin: 0;
    padding: 15px 0;
}

.list-container {
    @include clearfix();
}

.list-htitle {
    > div {
        display: table-cell;
        padding: 5px;
        vertical-align: middle;
        border-top: 1px solid $border-color;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        background: #f3f3f3;

        &.no-bdr-r {
            border-right: 1px solid transparent;
        }
    }
}

.vlist {
    float: left;
    width: 495px;

    .vitem {
        height: 70px;
        border-bottom: 1px solid $border-color;

        > div {
            display: table-cell;
            height: 70px;
            padding: 0 5px;
            vertical-align: middle;
            border-right: 1px solid $border-color;
        }
    }
}

.hlist {
    margin-left: 495px;
    overflow-x: scroll;
    overflow-y: hidden;
    border-left: 1px solid $border-color;

    .hitem {
        height: 70px;

        > div {
            display: table-cell;
            height: 70px;
            vertical-align: middle;
            padding: 0 5px;
            border-right: 1px solid $border-color;
            border-bottom: 1px solid $border-color;

            > span {
                display: block;
                word-wrap: break-word;
            }
        }

        p {
            margin: 0;
        }
    }
}